<h2> The countries you have access to </h2>
 <table>
  <tr>
     <th>System Id</th>
     <th>Countries</th>
  </tr>
  <% @mapped_country.each_with_index do |arr,i| %>
	<tr>
  		
		
		<td><%= arr["systemId"] %></td>
		<td><%= arr["description"].split(" - ").length == 1 ? arr["description"].capitalize : (arr["description"].split(" - ")[1] == "UK" ? "United Kingdom" : arr["description"].split(" - ")[1].capitalize) %></td>
	</tr>
  <% end %>
 </table>
<td><%= link_to 'Select Search Parameters', worksiteblock_paruser_path() %></td>
