<span id="title" >Register for online account management</span></br>
<span id="link">Already have an account? <%= link_to "login", "https://ebilling.business-stream.co.uk/bstream/jsp/login.jsp" %> </span><p/>

<p/>
<% flash[:notice].each do |notice| %>
	<div><%= notice %></div>
<% end %>
<%= render 'form' %>
