<h1> File saved </h1>

<p>
  <%= link_to "Edit", edit_register_path(@register) %> |
  <%= link_to "Destroy", @register, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", registers_path %>
</p>
