<span id="title" >Register for online account management</span></br>


<p/>

	<div><h2>You have already registered as a user.   </h2></div> <p/>

<span id="link">Already have an account? <%= link_to "login", "https://ebilling.business-stream.co.uk/bstream/jsp/login.jsp" %> </span><p/>
<span id="link">Forgotten your password?  <%= link_to "password_reset", "https://ebilling.business-stream.co.uk/bstream/ajax/LostPassword.action" %> </span><p/>