<h1> Twitter feed as queried at <%= Time.now.inspect %> </h1>
  
 <%  @messages.each do |feed| %>  
    <%= feed %>
    <br>
<% end %> 
    
    
<%= link_to "Main Menu", :controller => "authentication", :action => "main_menu" %> 
 