<h1>Listing tasks</h1>
 
  
<%form_tag :controller => :tasks, :method =>  :put do %>
<u1>
<% @tasks.each do |task| %>
  <li>
  	<%= check_box_tag "task_ids[]", task.id %>
    <%= task.name %>
    
  </li>
<% end %>
</u1>
<% end %>

<br />
<%= submit_tag "Mark as Complete" %>
<%= link_to 'New Task', new_task_path %>
