

<title>A jQuery Drag-and-drop</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/fieldlist.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="/javascripts/fieldlist.js" type="text/javascript" charset="utf-8"></script>

</head>
<body onLoad="init('<%= @sfdclist.to_json %>', '<%=@parlist.inspect%>', '<%= @selectedfields.to_json %>');" >
  <%= javascript_tag "var auth_token = '#{form_authenticity_token.inspect}'" if protect_against_forgery? %>
 	
    <div id="button"><button onclick="doSaveAs()">Done &amp; Save</button></div>
   
  	<div id>
			 <h3><colspan=4><align=center> PAR Fields </h3>
      		<div id="parField">  </div>
   	</div>
   	<div id="content">
	<table>
		<tr valign="top">
			<h3> SFDC Fields </h3>
   			<td valign="top">
			   	<div id="sfdcField"> </div>
	   		</td>
	   		<td valign="top">
			   	<div id="sfdc2Field"> </div>
	   		</td>
	   		<td valign="top">
			   	<div id="sfdc3Field"> </div>
	   		</td>
	   		<td valign="top">
			   	<div id="sfdc4Field"> </div>
	   		</td>
			<td valign="top">
			   	<div id="sfdc5Field"> </div>
	   		</td>
			<td valign="top">
			   	<div id="sfdc6Field"> </div>
	   		</td>
	   	</tr>
   </table>
   </div>
   <div valign="top">
			   	<h3> Selected Fields </h3>
			   	<div id = "notDroppable"> </div>
	</div>
  	
  <div id="button">
	  <button onclick="doSaveAs()">  Done &amp; Save  </button>
  </div>
  
 </body>
</html>

