<h2> The countries you have access to </h2>

<table>
  <tr>
     <th>Countries</th>
    
   
  </tr>
  <% i =0 %>
  
  <% @mapped_data.each do |arr| %>
  
  <tr>
  	
    <td><%= arr %></td>
    
    
 <% end %>
 </table>
 
<td><%= link_to 'Paruser', welcome_paruser_path(:id =>1) %></td>