<h2> The countries you have access to </h2>
 <table>
  <tr>
     <th>Countries</th>
  </tr>
  <% @mapped_data.each_with_index do |i, arr| %>
	<tr>
  		<td><%= arr %></td>
		<td><%= i %></td>
	</tr>
  <% end %>
 </table>
<td><%= link_to 'Select Search Parameters', worksiteblock_paruser_path() %></td>
